body::-webkit-scrollbar { width: 0 !important }

@font-face {
    font-family: lino;
    src: url(../fonts/linowrite.ttf);
}

@font-face {
    font-family: hand;
    src: url(../fonts/hand.ttf);
}

*{
    padding: 0;
    margin: 0;
}

html{
}

body{
    background: url(../linedpaper_@2x.png);
    font-family: lino;
    overflow-x: hidden;
}
#wrapper{
    width: 1024px;
    margin: 0 auto;
}

.slide-wrapper{
    width: 1024px;
    height: 768px;
    position: relative;
}
.title{
    text-align: center;
    font-size: 65px;
    padding-top: 13px;
}
span.date{
    font-size: 35px;
    position: relative;
    left: 352px;
    bottom: 45px;
}
.info{
    font-size: 29px;
}
ul{

}
li{
    margin-bottom: 15px;

}
.quote{
    font-style: italic;
    font-size: 24px;
}
figure{
    font-family: hand;
    color: #001B9B;
    text-align: center;
    padding: 7px;
    background: white;
    display: inline-block;
}

figure figcaption{
    font-size: 40px;
}

figure.small img{
    width: 250px;
    height: 250px;
}

figure.medium img{
    width: 400px;
    height: 400px;
}

#project-title{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-54%);
    -moz-transform:translateY(-54%);
    transform:translateY(-54%);
    display: table;
    margin: 0 auto;
    font-size: 77px;
    color: rgb(14,15,21);
}

#id_2 .info{
    position: absolute;
    top: 147px;
    left: 242px;
}
#id_2 figure{
    position: absolute;
    bottom: 79px;
    left: 585px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_3 .info{
    position: absolute;
    top: 172px;
    left: 98px;
}

#id_3 figure#einstein{
    position: absolute;
    bottom: 308px;
    left: 708px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_3 figure#roos{
    position: absolute;
    bottom: 22px;
    left: 498px;
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    transform: rotate(-9deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_3 figure#letter{
    position: absolute;
    bottom: 22px;
    left: 66px;
    -webkit-transform: rotate(1deg);
    -moz-transform:rotate(1deg);
    transform:rotate(1deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_3 figure#letter img{
    height: 250px;
    width: 350px;
}

#id_4 .info{
    position: absolute;
    top: 172px;
    left: 98px;
}

#id_4 figure{
    position: absolute;
    top: 162px;
    right: 35px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_5 .sup#brits{
    position: absolute;
    top: 82px;
    left: 102px;
}

#id_5 .sup#cans{
    position: absolute;
    right: 34px;
    top: 82px;
}
#id_5 .subtitle{
    font-size: 42px;
    margin-left: -32px;
    margin-bottom: 12px;
}

#id_5 figure{
    position: absolute;
    bottom: 21px;
    right: 44px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_5 figure#quebec img{
    height: 350px;
    width: 615px;
}

#id_6 figure{
    position: absolute;
    top: 100px;
    left: 90px;
    box-shadow: 0px 2px 4px 0px rgb(0,0,0);
}

#id_6 figure#sites img{
    height: 492px;
    width: 830px;
}

#id_7 .info{
    position: absolute;
    left: 348px;
    top: 94px;
}

#id_7 figure#oak1{
    position: absolute;
    top: 216px;
    right: 43px;
    -webkit-transform: rotate(-1deg);
    -moz-transform:rotate(-1deg);
    transform:rotate(-1deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_7 figure#oak2{
    position: absolute;
    top: 293px;
    left: 74px;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_7 figure#oak2 img{
    height: 200px;
    width: 400px;
}

#id_8 .info{
    position: absolute;
    left: 243px;
    top: 94px;
}

#id_8 figure#hanford{
    position: absolute;
    top: 224px;
    right: 94px;
    box-shadow: 0px 2px 4px 0px rgb(0,0,0);
}

#id_8 figure#hanford img{
    height: 400px;
    width: 800px;
}

#id_9 .info{
    position: absolute;
    left: 243px;
    top: 94px;
}

#id_9 figure#alamos{
    position: absolute;
    top: 300px;
    right: 162px;
    box-shadow: 0px 2px 4px 0px rgb(0,0,0);
}

#id_9 figure#alamos img{
    height: 375px;
    width: 700px;
}

#id_10 span{
    position:absolute;
    top: 76px;
    right: -77px;
}
#id_10 .info{
    position: absolute;
    left: 113px;
    top: 138px;
}

#id_10 figure#open{
    position: absolute;
    top: 170px;
    right: 14px;
    -webkit-transform: rotate(-1deg);
    -moz-transform:rotate(-1deg);
    transform:rotate(-1deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_10 figure#open img{
    height: 400px;
    width: 350px;
}

#id_10 .quote#oppen{
    position: absolute;
    bottom: 226px;
    left: 2px;
}

#id_11 span{
    position:absolute;
    top: 76px;
    right: -77px;
}
#id_11 .info{
    position: absolute;
    left: 86px;
    top: 138px;
}

#id_11 figure#trinity{
    position: absolute;
    top: 399px;
    left: 33px;
    -webkit-transform: rotate(1deg);
    -moz-transform:rotate(1deg);
    transform:rotate(1deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_11 figure#trinity img{
    height: 277px;
    width: 457px;
}

#id_11 figure#gadget{
    position: absolute;
    top: 123px;
    right: 12px;
    -webkit-transform: rotate(-2deg);
    -moz-transform:rotate(-2deg);
    transform:rotate(-2deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_11 figure#gadget img{
    height: 332px;
    width: 417px;
}

#id_13 .title{
    position:relative;
    right: 84px;
}
#id_13 .info{
    position: absolute;
    left: 86px;
    top: 138px;
}

#id_13 figure#little{
    position: absolute;
    top: 410px;
    left: 54px;
    -webkit-transform: rotate(1deg);
    -moz-transform:rotate(1deg);
    transform:rotate(1deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_13 figure#little img{
    /* height: 277px; */
    width: 383px;
}

#id_13 figure#fat{
    position: absolute;
    bottom: 23px;
    right: 105px;
    -webkit-transform: rotate(-2deg);
    -moz-transform:rotate(-2deg);
    transform:rotate(-2deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_13 figure#fat img{
    height: 210px;
    width: 352px;
}

#id_13 figure#naga{
    position: absolute;
    top: 15px;
    right: 58px;
    -webkit-transform: rotate(1deg);
    -moz-transform:rotate(1deg);
    transform:rotate(1deg);
    box-shadow: 2px 2px 4px 0px rgb(0,0,0);
}

#id_13 figure#naga img{
    height: 352px;
    width: 269px;
}

.info.mid{
    /* text-align: center; */
    display: table;
    margin: 0 auto;
    margin-top: 58px;
}

#id_17 .quote{
    line-height: 75px;
    margin-left: 54px;
    padding-top: 16px;
}
#quote-ein{
    position: relative;
    top: 40px;
    right: 19px;
    font-style: normal;
}

#id_17 figure{
    position: absolute;
    bottom: 30px;
    right: 70px;
    -webkit-transform: rotate(-2deg);
    -moz-transform:rotate(-2deg);
    transform:rotate(-2deg);
    box-shadow: -2px 2px 4px 0px rgb(0,0,0);
}

#id_17 figure img{
    height: 300px;
    width: 500px;
}

video#video{
    width: 920px;
    height: 613px;
    margin: 57px 52px 0px 52px;
    object-fit: initial;
}

#bibli{
    text-align: left;
    list-style: none;
    font-size: 24px;
    margin: 40px 90px;
}

#bibli ul{
    list-style: none;
}
.q{
    text-align: center;
    font-size: 50px;
    padding-top: 45px;
    padding-bottom: 39px;
}
